<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-logo">
            <a href="/">My Portfolio</a>
        </div>
        <div class="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="navbar-menu">
            <a href="#hero" class="navbar-item">Home</a>
            <a href="#skills" class="navbar-item">Skills</a>
            <a href="/logout" id="login-button" class="navbar-item login-btn-nav">Logout</a>
        </div>
    </div>
</nav>